import React, { PropsWithChildren } from 'react';

interface {{pascalCase name}}OwnProps {}

export type {{pascalCase name}}Props = PropsWithChildren<{{pascalCase name}}OwnProps>;

export function {{pascalCase name}}(props: {{pascalCase name}}Props) {
  return <span>{{dashCase name}}</span>;
}
